.container-small-card  {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  padding-bottom: 1rem;
  border-bottom: solid 1px white;
  margin: 0 0 1rem;
}

.content-small-card {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.small-card-title {
   margin-bottom: 1rem;
}

.small-card-description > p{
  color: grey;
}

.crop img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.crop {
  /* height: 100px;  */
  width: 700px;
}



