<div class="container-small-card">
  <div class="crop">
    <img
      src="{{UrlData}}"
      alt="cover-news"
    />
  </div>
  <div class="content-small-card">
    <div class="small-card-title">
      <h1><a href="#">Fotografia Analógica!</a></h1>
    </div>
    <div class="small-card-description">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugiat
        facere, est earum laudantium in recusandae placeat itaque corrupti
        dolores quo obcaecati, iusto deleniti, nobis magnam veniam architecto
        voluptatem similique.
      </p>
    </div>
  </div>
</div>
