<app-menu-title></app-menu-title>
<div class="articles_container">
  <div class="articles_main">
    <app-big-card
      id="1"
      Title="Fotografia Analógica!"
      contentText="
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugiat
    facere, est earum laudantium in recusandae placeat itaque corrupti
    dolores quo obcaecati, iusto deleniti, nobis magnam veniam architecto
    voluptatem similique."
      UrlContet="https://images.unsplash.com/photo-1566210006746-4363a0f45280?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
    ></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      id="2"
      photoCover="https://images.unsplash.com/photo-1688488496938-f355b766c6fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
      cardTitle="Galeria Nova"
      cardContent="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugiat
      facere, est earum laudantium in recusandae placeat itaque corrupti
      dolores quo obcaecati, iusto deleniti, nobis magnam veniam architecto
      voluptatem similique."
    ></app-small-card>
    <app-small-card
      id="3"
      photoCover="https://images.unsplash.com/photo-1690131053543-a527aaf76404?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
      cardTitle="Musica Clássica com eletrônica"
      cardContent="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugiat
      facere, est earum laudantium in recusandae placeat itaque corrupti
      dolores quo obcaecati, iusto deleniti, nobis magnam veniam architecto
      voluptatem similique."
    ></app-small-card>
    <app-small-card
      id="4"
      photoCover="https://images.unsplash.com/photo-1685208424812-ea7250800476?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"
      cardTitle="Japão e Cultura"
      cardContent="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint fugiat
      facere, est earum laudantium in recusandae placeat itaque corrupti
      dolores quo obcaecati, iusto deleniti, nobis magnam veniam architecto
      voluptatem similique."
    ></app-small-card>
  </div>
</div>
