<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles_container">
  <div class="articles_main">
    <app-big-card
      [UrlContet]="
        'https://images.unsplash.com/photo-1690125537414-8b376f6bda98?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'
      "
    ></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      [UrlData]="
        'https://images.unsplash.com/photo-1688488496938-f355b766c6fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80'
      "
    ></app-small-card>
    <app-small-card
      [UrlData]="
        'https://images.unsplash.com/photo-1690131053543-a527aaf76404?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'
      "
    ></app-small-card>
    <app-small-card
      [UrlData]="
        'https://images.unsplash.com/photo-1685208424812-ea7250800476?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80'
      "
    ></app-small-card>
  </div>
</div>
